@import url(../styles/variables.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
background-image: url(../assets/images/Фон\ 1.png);
  margin: 0 auto;
  color: white;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-size: cover;
}


/* Header */

.logo {
    margin-left: 79px;
    font-size: 22px;
    font-family: "Ubuntu-N";
    line-height: 22px;
    transition: 200ms;
    font-weight: 700;
}

.logo:hover {
color: rgb(23, 104, 62);
}

.header {
    width: 100%;
}

.header__container {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.fa-thin {
    width: 22px;
}

.thin-1 {
    background: url(../assets/images/Vector.svg);
    width: 21px;
    height: 24px;
    transition: 200ms;
}

.thin-1:hover {
    background: url(../assets/logo/calendar-alt-regular\ 1.svg);
}

.thin-2 {
    background: url(../assets/images/email.svg);
    width: 23px;
    height: 23px;
    transition: 200ms;
   
}

.thin-2:hover {
    background: url(../assets/logo/email.svg);
}

.thin-3 {
    background: url(../assets/images/nav.svg);
    width: 23px;
    height: 23.25px;
    transition: 200ms;
}

.thin-3:hover {
    background: url(../assets/logo/compass-regular\ 1.svg);
    
}


.header__list {
    display: flex;
    list-style-type: none;
    align-items: center;
}


.color {
    transition: 200ms;
}

.color:hover {
    color: rgba(60, 184, 120, 1);
}

.header__link:nth-child(4) {
    border-left: 1px solid rgb(255, 255, 255);
    margin-right: 79px;
    padding-left: 27px;
    font-size: 14px;
}

.header__link:nth-child(3) {
    padding-right: 25px;
    margin-left: 24px;
}

.header__link:nth-child(2) {
    margin-left: 27px;
    padding: 18px 0px;
}

/* MAIN */

.login__container-greenbox {
    width: 444px;
    background: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 54px;
    position: relative;
}

.greenbox {
    background: rgba(60, 184, 120, 1);
    width: 18px;
    top: 29px;
    left: 0;
    height: 18px;
    position: absolute;
}

.login__container {
    width: 344px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.singUp {
    display: flex;
    justify-content: space-between;
    margin-top: 31px;
    color: rgba(67, 67, 67, 1);
    align-items: flex-end;
}

.main__singUp {
    font-size: 20px;
}

.main__buttons {
    display: flex;
    justify-content: space-between;
}

.main__login {
    color: rgba(60, 184, 120, 1);
    font-size: 14px;
    transition: 150ms;
    font-family: "Ubuntu-N";
}

.main__login:hover {
    text-decoration: underline;
    color: rgba(1, 129, 63, 1);
}

.FB , .Google {
    border: none;
    border-radius: 4px;
    width: 168px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgba(255, 255, 255, 1);
    font-family: "Ubuntu-N";
    margin-top: 14px;
}

.FB {
    background-color: rgba(48, 93, 184, 1);
    transition: 150ms;
}

.FB:hover {
    background-color: rgba(2, 34, 99, 1);
}

.button__logo1 {
    width: 12.46px;
    margin-left: 16.77px;
    padding: 12px 0px;
}

.button__text1 {
    border-left: 1px solid rgba(10, 22, 47, 0.100);
    padding-left: 18px;
    margin-right: 22px;
}

.Google {
    background-color: rgba(223, 74, 50, 1);
    transition: 150ms;
}

.Google:hover {
    background-color: rgba(171, 31, 9, 1);
}

.button__logo2 {
    width: 30px;
    padding: 15px 0px;
    margin-left: 12px;
}

.button__text2 {
    border-left: 1px solid rgba(43, 13, 9, 0.1);
    padding-left: 30px;
    margin-right: 27px;
}

.hr {
  display: flex;
flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  margin-top: 40px;

}

hr {
    width: 152px;
    opacity: 15%;
    background-color: rgba(242, 242, 242, 0.1);
}

.hr__text {
    color: rgba(132, 132, 132, 1);
    padding: 0px 5px;
}

.input {
    width: 100%;
    padding: 15px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    font-size: 14px;
    font-family: "Ubuntu-N";
    margin-top: 15px;
}

.input::placeholder {
    color: #BEBEBE;
}

.input:focus {
    outline-style: none;
    border: none;
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.21);
    color: rgba(67, 67, 67, 1);
    transition: 200ms ease-in-out;

}

.Agree {
    display: flex;
    color: rgba(67, 67, 67, 1);
    margin-top: 12px;
    font-family: "Ubuntu-N";
}

.text__color {
    color: rgba(60, 184, 120, 1);
    transition: 150ms ease-in-out;
}

.text__color:hover {
    text-decoration: underline;
    color: rgba(1, 129, 63, 1);
}

.Agree__text {
    margin-left: 11px;
}

.create {
    width: 100%;
    background-color: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    border: none;
    color: white;
    padding: 16px 0px;
    margin-top: 20px;
    font-family: "Ubuntu-N";
    margin-bottom: 38px;
    transition: 220ms ease-in-out;
}

.create:hover {
    background-color: rgba(1, 129, 63, 1);
}